{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>  {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'index/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" />
</head>
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div> <!-- class="container" -->
  <script src = "{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
  <script src = "{% static 'index/js/bootstrap.min.js' %}"></script>
</body>
</html>
