{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>  {% block title %}{% endblock %}</title>
   <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'index/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}" />
</head>
<body>

    {% block content %}
    {% endblock %}

  <script src = "{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src = "{% static 'index/js/bootstrap.min.js' %}"></script>
</body>
</html>
