html, body{
  height: 100%;
}


header{
  background: url('./images/header.jpg') repeat-x;
  
}
#header{
  flex-wrap: nowrap;
  align-self:stretch;
}
@include media-breakpoint-only(sm) {

  header .container{

  }
}
